*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body{
    font-family: 'Poppins', sans-serif;
    margin-top: 100px;
}
.banner{
    display: flex;
}
.title-desk{
    width: 50%;
    margin-top: 40px;
    margin-left: 100px;
}
.title-desk h1{
    font-size: 60px;
    font-weight: 900;
    color: rgb(85, 82, 80);
}
span{
    color: orangered;
}
.title-desk p{
    color: rgb(112, 108, 102);
    font-size: 20px;
    font-weight: 500;
    margin-bottom: 20px;
}
.order{
    text-decoration: none;
    background: linear-gradient(45deg, lightsalmon, rgb(233, 107, 76));
    padding: 20px 40px;
    border-radius: 20px;
    color: white;
    font-weight: 700;
}
.banner-image{
    width: 50%;
    padding: 50px;
}
.banner-image img{
    width: 100%;
}
.img-1{
    position: relative;
    bottom: 2.5%;
    left: 0;
    width: 100%;
    height: 100%;
    overflow: hidden;
}
.img-2{
    bottom: 9.5%;
    left: 45%;
    position: absolute;
    width: 50%;
}
.about{
    display: flex;
    background-image: url(./images/7.png);
    background-repeat: no-repeat;
    width: 100%;
    margin-top: 20px;
}

.about-img{
    width: 50%;
}
.about-img img{
    width: 54.5%;
    padding: 30px;
    margin-left: 200px;
    margin-top: 50px;
}
.about-title{
    width: 50%;
    padding-top: 150px;
    text-align: justify;
}
.about-title h1{
    color: rgb(114, 110, 104);
    font-weight: 900;
    font-size: 40px;
}
.about-title p{
    color: black;
    font-size: 20px;
    padding-top: 40px;
    margin-bottom: 100px;
}
/* Receipies */
.menu-description{
    color: rgb(87, 83, 78);
    text-align: center;
}
.menu-description h1{
    font-size: 40px;
    font-weight: 900;
    padding: 20px;
}
.menu-description p{
    color: rgb(87, 83, 78);
    font-size: 20px;
    padding: 20px;
}
.receipies{
    margin-top: 30px;
}
.menu-title{
    display: flex;
    margin: 0 80px;
}
.menu-title div{
    box-shadow: 15px 20px 40px gray;
    border-radius: 20px;
}
.half-page{
    width: 50%;
    padding: 30px;
    background-color: white;
    margin: 10px 15px;
}
.half-page img{
    width: 100%;
}
.half-page h1{
    font-size: 35px;
    font-weight: 900;
    padding-top: 20px;
}
.half-page p{
    color: rgb(87, 83, 78);
    font-size: 19px;
    padding-top: 20px;
}
/* counter */
.counter{
    display: flex;
    align-items: center;
    text-align: center;
}
.counter{
    box-shadow: 10px 12px 20px gray;
    border-radius: 20px;
    margin: 10px 90px;
    margin-top: 80px;
}
.counters{
    width: 33.33%;
    padding: 60px;
}
.counters h1{
    font-size: 45px;
    font-weight: 1200;
}
.counters p{
    color: rgb(87, 83, 78);
    font-size: 19px;
}
/* footer style */
footer{
    background-color: black;
    text-align: center;
    padding: 50px;
    margin-top: -10px;
    margin-top: 70px;
}
footer h1{
    font-size: 45px;
    font-weight: 1200;
    color: white;
}
footer p{
    color: white;
    font-size: 19px;
    margin-bottom: 20px;
}
small{
    color: orangered;
    margin-top: 20px;
}